<div class="chat" #msgs>
    <div class="ui comments">
        <div class="comment" id="message" *ngFor="let m of messages">
            <a class="author">{{m.author}}</a>
            <div class="text">
                {{m.text}}
            </div>
        </div>
    </div>
</div>