#message {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.chat {
    margin-left: 15%;
    margin-right: 15%;
    height: 65%;
    overflow-y: auto;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
}