<div *ngIf="!(Author)">
    <button class="ui teal button" (click)="myModal.show({inverted: true})" id="logForm">Login</button>
    <sm-modal title="Enter username" icon="talk" #myModal>
        <modal-content>
            <form class="ui form">
                <div class="field">
                    <label>Username:</label>
                    <input placeholder="Input username here " type="text" #usernameInput>
                </div>
                <div class="field">
                    <label>Password:</label>
                    <input placeholder="Input passwoed here " type="password" #passwordInput>
                </div>
            </form>
            <button class="ui teal button " (click)="auth(usernameInput.value,passwordInput.value, 'login');usernameInput.value='' ;passwordInput.value='' ;myModal.hide() ">LogIn</button> or
            <button class="ui teal button " (click)="auth(usernameInput.value,passwordInput.value, 'registration');usernameInput.value='' ;passwordInput.value='' ;myModal.hide() ">Registration</button>
        </modal-content>
    </sm-modal>
</div>

<div *ngIf="(Message)" class="ui info message transition" id="warning">
    <div class="header">
        Incorrect login or password
    </div>
</div>

<div *ngIf="(Author) ">
    <div class="ui fluid icon input ">
        <input placeholder="Input text here... " type="text " (keyup.enter)="sendMessage(message.value);message.value='' " #message>
        <i class="teal send icon "></i>
    </div>
</div>